.titled-pane>.title {
	/*-fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;*/
	-fx-padding: 5 8 5 8;
	-fx-font-size: 14;
	-fx-alignment: CENTER_LEFT;
}

.titled-pane {
	/*-fx-text-fill: white;*/
	
}

.table-view .column-header .label {
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 0 3 0 3;
	-fx-font-weight: normal;
}

.tab {
	-fx-padding: 1 10;
	-fx-font-size: 14;
	-fx-focus-color: transparent;
}

.button {
	-fx-font-family: "System";
	-fx-font-weight: bold;
	-fx-font-size: 12.0;
	-fx-cursor: hand;
}